<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Docco | <%= title %></title>
  </head>
  <body>
    <h1>Docco | <%= title %></h1>
    <p>Generated: <%= grunt.template.today("dd/mm/yyyy HH:mm:ss") %></p>
    <ul><%= filelist %></ul>
  </body>
</html>