<!doctype html>
<html>
<head>
  <title>Carousel Unit Tests</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/jasmine/lib/jasmine-core/jasmine.css">
  <script src="/bower_components/requirejs/require.js"></script>
  <script src="/client/src/js/config.js"></script>
  <script src="/client/test/config.js"></script>
  <script>
  define('tests', function(require){
    <%= files %>
  });
  </script>
  <script src="/client/test/main.js"></script>
</head>
<body>
</body>
</html>