.violet { 
    background-color: rgba(238, 130, 238, 0.9); 
}

.indigo { 
    background-color: rgba(75, 0, 130, 0.9); 
}

.blue { 
    background-color: rgba(0, 0, 255, 0.9); 
}

.green { 
    background-color: rgba(0, 128, 0, 0.9); 
}

.red { 
    background-color: rgba(255, 0, 0, 0.9); 
}

.orange { 
    background-color: rgba(255, 165, 0, 0.9); 
}